* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;     /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;  /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;       /* prevent copy paste, to allow, change 'none' to 'text' */
    -webkit-appearance: none;

    font-family: "Helvetica Neue";
    color: #2a2a2a;
    background-color: #f0f0ff;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

ul {
    list-style: none;
    border-bottom: 1px solid #d3d3d3;
    text-align: left;
}

li {
    margin-left: -40px;
    padding: 5px;
    padding-top: 10px;
    min-height: 50px;
    border-top: 1px solid #d3d3d3;
    font-size: 0.9em;
}

button {
    -webkit-appearance: none;
    font-size: 2em;
    border-radius: 0px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    min-width: 200px;
    background-color: #f0f0ff;
    color: blue;
}

#mainPage {
    text-align:center;
}

#detailPage {
    text-align:center;
}

#detailPage pre {
    text-align:left;
}

#statusDiv {
    font-size: 1.9em;
    margin-bottom: 10px;
}

input[type=range] {
    margin: 10px;
    width: 90%;
    height: 100px;
}

input[type='range']::-webkit-slider-thumb {
    height: 50px;
    width: 50px;
}

input[type=checkbox] {
  width:30px;
  height:30px;
  margin:20px;
}

label {
  font-size: 2em;
}
