<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- Content-Security-Policy allow *anything* (added policy to stop warnings) -->
        <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline' 'unsafe-eval'">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <title>BLE Template</title>
    </head>
    <body>
        <div>
            <h2>BLE Template</h2>
            Add content here
        </div>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/fastclick.js"></script>
        <script type="text/javascript" src="js/disconnector.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
    </body>
</html>
